html,body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
}

body {
  height: 100vh
}

a {
  text-decoration: none;
  color: black;
}
